# תיקיות Node
node_modules/

# תוצאות בדיקות
test-results/
allure-results/
allure-report/

# קבצים זמניים ולוגים
*.log
*.tmp

# קבצי מערכת
.DS_Store
Thumbs.db

# קבצי סביבת פיתוח
.vscode/
.idea/

# קבצי סביבה רגישים
.env
LoginAuth.json